﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Jobsity Chat Bot</h1>
    <p>You can start making request to the following endpoint <a href="https://localhost:44302/api/ChatBot/GetStock?inputCode=aapl.us">https://localhost:44302/api/ChatBot/GetStock?inputCode=aapl.us</a></p>
</div>
